@{
    ViewBag.Title = "Family";
}
@section Scripts{
    @Scripts.Render("~/Scripts/handlebars.js")
    @Scripts.Render("~/Scripts/Custom/family.js")
}
<script type="text/html" id="familiestemplate">
    <table id="familiesTable" class="table">
        <thead>
            <tr>
                <th>
                    Family Number
                </th>
                <th style="text-align:center">
                    Last Visited
                </th>
                <th style="text-align:center">
                    Last Visited Points
                </th>
                <th style="text-align:center">
                    Max Points
                </th>
            </tr>
        </thead>
        <tbody style="text-align:center">
            {{#each families}}
            <tr id="{{ID}}" class="familyLineItem">
                <td>
                    {{FamilyID}}
                </td>
                <td>
                    {{LastOrderDate}}
                </td>
                <td>
                    {{LastVistedAmount}}
                </td>
                <td>
                    {{MaxOrderQuantity}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>

<script type="text/html" id="familiescarttemplate">

    <table id="cartInvintory" class="table">
        <thead>
            <tr>
                <th>
                    Item
                </th>
                @*<th>
                        Type
                    </th>*@
                <th>
                    Quantity
                </th>
                <th>
                    Point Equivalant
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each items}}
            <tr id="{{ID}}" class="itemLineItem">
                <td>
                    {{Name}}
                </td>
                <td>
                    {{Type}}
                </td>
                <td>
                    {{Quantity}}
                </td>
                <td>
                    {{MaxQuantity}}
                </td>
            </tr>
            {{/each}}
            @*<tr id="${ID}">
                    <td>
                        Green Beans
                    </td>
                    <td>
                        <input id="GreenBean_Quantity" type="number" class="itemQuantity">
                    </td>
                    <td>
                        <div id="GreenBean_PointEquivalent">0</div>
                    </td>
                </tr>
                <tr id="${ID}">
                    <td>
                        Bread
                    </td>
                    <td>
                        <input id="Bread_Quantity" type="number" class="itemQuantity">
                    </td>
                    <td>
                        <div id="Bread_PointEquivalent">0</div>
                    </td>
                </tr>
                <tr id="${ID}">
                    <td>
                        Milk
                    </td>
                    <td>
                        <input id="Milk_Quantity" type="number" class="itemQuantity">
                    </td>
                    <td>
                        <div id="Milk_PointEquivalent">0</div>
                    </td>
                </tr>*@
        </tbody>
    </table>
</script>

<div>
    <h2 style="text-align:center;margin:15px">Families</h2>

    <div id="familiescontainer">
    </div>

    <div class="btn btn-primary" id="addNewFamily">Add New Family</div>
</div>

<div id="familiesCartTemplate" style="display:none">
    <h2 style="text-align:center;margin:15px">Family 3820HFY4UFY74 Cart</h2>

    <div style="display:inline-block;margin-bottom:20px">Search</div>
    <input style="display:inline-block" type="text" id="seachText" />
    <div class="cartcontainer"></div>
    <div style="display:inline-block;margin-left:51%;margin-right:10px;font-weight:bold">Total Points</div>
    <div style="display:inline-block;" id="totalPoints">0</div>
    <div style="display:inline-block;margin-left:10%;font-weight:bold;margin-right:10px">Max Points</div>
    <div style="display:inline-block;" id="maxPoints">130</div>
    <br />
    <div style="width:100%;text-align:center;margin-top:20px">
        <div class="btn btn-success btn-lrg" style="width:30%;font-weight:bold"
             id="checkoutFamily">Checkout</div>
    </div>
</div>
